@import url("https://fonts.googleapis.com/css?family=Allura|Raleway:200,300,400,500,600,700,800,900");

@import url('https://fonts.googleapis.com/css?family=Monoton|Permanent+Marker|Righteous');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* logo font & neon animationen */
@font-face{
    font-family:logo;
    src:url("../fonts/LOSTWAGE.TTF")
  
  }
  
  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  @-webkit-keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
  }
  
  @-moz-keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
  }
  
  @keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
  }

  .logo{
    color: #FFDD1B;
    font-family: 'Monoton', cursive;
    font-size: 2em;
    padding:0;
    margin:0;
    margin-right: 5vw;
    -webkit-animation: flicker 1s linear infinite;
    animation: flicker 8s linear infinite;
  }
  
  .logoSmall{
      color: #FF1177;
      font-family: 'Monoton', cursive;
   
      font-size: 2em;
      padding:0;
      margin:0;
      margin-right: 2vw;
  
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -moz-transform: scale(1,1);
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
    
  }
  .logoSmall:hover{
    color: #FF1177;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);      
  
  }
  
  .login-button {
    font-size: 2em;
    width: 7vw;
    margin-right: -5vw;
    margin-left: 5vw;
    background-color:black;
    color:white;
  }

  #TourDates{
    width: auto;
    margin: auto;
  }

  #TourDates thead{
    background:transparent !important;
    border: none !important;
    text-align: center !important;
    margin: auto !important;
   
    color: white;
  }

  #TourDates th{
    text-align: center !important;
    margin: auto !important;
  }
  
  #TourDates td{
    text-align: center !important;
    margin: auto !important;
    padding: 5px 20px;
    font-family: "Raleway", sans-serif;
    color: #6a6a6a;
  }
  
  .related{
    box-sizing:border-box;
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 3.5%;
    
  }

  .img-container {
    width: 16%;
    height: 100%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    float: left;
    color: white;
  }

  .img-container:hover{
    opacity:0.6;
  }

  .img-container:hover .imgText{
    background-color:white;
    color:black;
  }

  .imgText{
    position: relative;
    left: 0;
    top: 50%;
    width: auto;
    text-align: center;
    color: white;
    background: black;
    font-family: "Raleway", sans-serif;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #262626;
  line-height: 1.3;
  font-weight: 700;
}

p {
  font-family: "Raleway", sans-serif;
  color: #6a6a6a;
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
}

.navbarbg{
    height: auto;
    display:flex;
}

.navbarbg::after {
  content: "";
  background: url('../img/blackbg.png');
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.footerCostum{
  background: url('../img/blackbg.png');
  height: auto;
  text-align:center;
  margin: auto;
  color:white;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.about {
    background: url('../img/memphis-mini-dark.png');
    background-attachment: fixed;
    background-repeat: auto;
    background-size: 300px 300px;
    text-align: center;
    color: white;
    overflow:hidden;
    padding: 50px;
    padding-top: 100px;
    padding-bottom:100px;
}

.aboutPub{
  background: url('../img/memphis-mini-dark.png');
  background-attachment: fixed;
  background-repeat: auto;
  background-size: 300px 300px;
  text-align: center;
  color: white;
  overflow:hidden;
  padding: 50px;
  padding-top: 100px;
  padding-bottom:20px;
}

.otherSections{
  background: url('../img/memphis-mini-dark.png');
  background-attachment: fixed;
  background-repeat: auto;
  background-size: 300px 300px;
  text-align: center;
  color: white;
  overflow:hidden;
  padding: 10px;
  padding-top: 30px;
  padding-bottom:100px;

}

.container{
	flex-direction:row;
	justify-content:center;
    align-items:center;	
    display:flex;
}

#page-top a:hover{
  text-decoration: none;
}

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
    text-align: center; }
    .section-heading h2 {
      font-size: 48px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 900; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .section-heading h2 {
          font-size: 40px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .section-heading h2 {
          font-size: 36px; } }
      @media only screen and (max-width: 767px) {
        .section-heading h2 {
          font-size: 24px; } }
    .section-heading h6 {
      font-size: 16px;
      margin-bottom: 0;
      color: #c5afd9; }
    .section-heading.dark h2 {
      color: #262626; }
    .section-heading.dark h6 {
      color: #c1c1c1; }
  


  @-webkit-keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
      opacity: .99;
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
      opacity: 0.4;
      text-shadow: none;
    }
  }
  
  @keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
      opacity: .99;
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
      opacity: 0.4;
      text-shadow: none;
    }
  }

/* album swiper */
  .swiper-container {
    height: 370px;
  }

  /* flipcard */
    .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2019-5-22 20:26:14
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}