.top{
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 95vh;
}

.title{
    color: white;
    text-align: center;
    padding-top: 50vh;
    font-size: 5em;
}

.title-bottom{
    color: white;
    text-align: center;
    font-size: 3em;
}