@import url('https://fonts.googleapis.com/css?family=Monoton|Permanent+Marker|Righteous');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* logo font & neon animationen */
@font-face{
  font-family:logo;
  src:url("../fonts/LOSTWAGE.TTF")

}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

.navigation-leiste{
  width:100%;
  position:fixed;
  background-color: black;
}

.logo{
  color: #FFDD1B;
  font-family: 'Monoton', cursive;
  font-size: 4em;
  padding:0;
  margin:0;
  margin-right: 5vw;
  -webkit-animation: flicker 1s linear infinite;
  animation: flicker 8s linear infinite;
}

.logoSmall{
    color: #FF1177;
    font-family: 'Monoton', cursive;
 
    font-size: 3em;
    padding:0;
    margin:0;
    margin-right: 2vw;

    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  
}
.logoSmall:hover{
  color: #FF1177;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);      

}

.login-button {
  font-size: 2em;
  width: 7vw;
  margin-right: -5vw;
  margin-left: 5vw;
  background-color:black;
  color:white;
}

/*------------------------LOGINPOPUP-----------------------------*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*------------------------------------------------------------------------------*/

.s1{
    background: url('../img/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: white;
    overflow:hidden;

    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);

    -moz-transition: all 5s;
    -webkit-transition: all 5s;
    transition:  5s;

   
}

#page-top a:hover{
  text-decoration: none;
}

.s2{
  background:
  linear-gradient(rgba(30, 29, 29,0.9), rgba(43, 52, 61, 0.4)),
  url('../img/login-background.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.s2 h1{
  padding-top:25vh;
  padding-bottom: 2vh;
}

.s3{
  background: url('../img/garbage6.jpg');
  background-size: cover;
  text-align: center;
  height: 100vh;
  background-attachment: fixed;
  color: black;
}
.title{
    color: white;
    text-align: center;
    padding-top: 40vh;
    font-size: 5em;
}

.title-bottom{
    color: white;
    text-align: center;
    font-size: 3em;
}

.container{
	display:flex;
	flex-direction:row;
	justify-content:center;
  align-items:center;
  width:100vw;
}

.navbarbg{
  background: url('../img/blackbg.png')
}

.form-control{
	border:none;
	border-bottom:3px solid dodgerblue;
	background:black;
	color:white;
	border-radius:0px;
}

.row{
	width:60%;
	margin-top:50px;
  border: 3px solid #FFDD1B;
	border-radius:14px;
	height:auto;
}

form h2{
	color:white;
}

.checkbox span{
	color:white;
}

.checkbox{
	float:left;
}

.button-container{
  text-align:center;
}

.register-button {
  margin-top: 5vh;
  font-size: 2.5em;
  padding: 1.5vh;
  background-color: white;
  color: black;
  font-style: italic;
  border-width: 3px;
}
@media(max-width:768px){

.logo {
    color: #FFDD1B;
    font-family: 'Monoton', cursive;
    font-size: 3em;
    padding: 0;
    margin: 0;
    margin-right: 5vw;
    -webkit-animation: flicker 1s linear infinite;
    animation: flicker 8s linear infinite;
}

.navbar-toggler {
  padding: .25rem .75rem;
  margin: 0;
  font-size: 1.25rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.logoSmall {
  color: #FF1177;
  font-family: 'Monoton', cursive;
  font-size: 2em;
  padding: 0;
  margin: 0;
  margin-right: 2vw;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
}

.s2 h1 {
  padding-top: 12vh;
  padding-bottom: 2vh;
  font-size:4.3em;
}

.s2 h2{
  font-size:2.7em;
}

.title-s3 {
  color: white;
  text-align: center;
  padding-top: 25vh;
  font-size: 5em;
}
  
}


  /*end of register form*/

  /*register box design*/

  .box{
    position:relative;
    width: 300px;
    height:300px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
    margin:auto;

  }
  
  .box:before{
    content: '';
    position:relative;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #f8fafa;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 

  /* spotlight */

  .light {
    animation:top-right 5s ease-in-out alternate infinite;
    border-bottom:none;
    border-left:solid 15vh transparent;
    border-right:solid 15vh transparent;
    border-top:solid 200vh rgba(255, 255, 255, 0.178);
    bottom:0;
    height:0;
    left:0;
    position:absolute;  
    transform-origin:bottom;
    width:0;
  }
  
  .light + .light {
    animation:top-left 4s ease-in-out alternate infinite;
    left:auto;
    right:0;
  }
  
  @keyframes top-right {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(45deg);
    }
  }
  
  @keyframes top-left {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(-45deg);
    }
  }


  @-webkit-keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
      opacity: .99;
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
      opacity: 0.4;
      text-shadow: none;
    }
  }
  
  @keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
      opacity: .99;
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
      opacity: 0.4;
      text-shadow: none;
    }
  }
