@import url('https://fonts.googleapis.com/css?family=Monoton|Permanent+Marker|Righteous');


@font-face{
  font-family:logo;
  src:url("../fonts/LOSTWAGE.TTF")

}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

.logo{
  color: #FFDD1B;
  font-family: 'Monoton', cursive;
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

.s1{
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 95vh;
}

.s2{
    background: darkgrey;
    background-repeat: no-repeat;
    background-size: cover;


    height: 95vh;
}
.title{
    color: white;
    text-align: center;
    padding-top: 50vh;
    font-size: 5em;
}

.title-bottom{
    color: white;
    text-align: center;
    font-size: 3em;
}

.backDoor
{
  background-color: lightgrey;
  position:relative;
  width:200px;
  height:300px;
  
  margin: 0 auto;
  margin-top:50px;
}

.doorLeft
{
  background-color: brown;
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:300px;
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorRight
{
  background-color: brown;
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:300px;
 
  transform-origin: right;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpenLeft
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(120deg);
}

.doorOpenRight
{
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-120deg);

}