@import url('https://fonts.googleapis.com/css?family=Monoton|Permanent+Marker|Righteous');

/* logo font & neon animationen */
@font-face{
  font-family:logo;
  src:url("../fonts/LOSTWAGE.TTF")

}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
/* our own styles have a superclass */
.navigation-leiste{
  width:100%;
  position:fixed;
  background-color: black;
}

.logo{
  color: #FFDD1B;
  font-family: 'Monoton', cursive;
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
  font-size: 50px;
  padding:0;
  margin:0;
  margin-right: 5vw;
  
}

  .logoSmall{
    color: #FF1177;
    font-family: 'Monoton', cursive;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    font-size: 35px;
    padding:0;
    margin:0;
    margin-right: 2vw;
  
}

.s1{
    background: url('../img/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: white;
    overflow:hidden;
}

.s2{
  background:
  linear-gradient(rgba(30, 29, 29,0.9), rgba(43, 52, 61, 0.4)),
  url('../img/login-background.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.s2 h1{
  margin-top:10vh;
  padding-bottom: 2vh;
}

.s3{
  background: url('../img/garbage.jpg');
  text-align: center;
  height: 100vh;
  background-attachment: fixed;
  color: black;
}
.title{
    color: white;
    text-align: center;
    padding-top: 0vh;
    font-size: 5em;
}

.title-bottom{
    color: white;
    text-align: center;
    font-size: 3em;
}

/* Register Form */

body{
	background:black;
}

.container{
	display:flex;
	flex-direction:row;
	justify-content:center;
  align-items:center;
  width:100vw;
}
 s
.navbarbg{
  background:url("../img/blackbg.png");
  background-repeat:repeat;
  
}
.navbar-expand-lg .navbar-dark .bg-dark .fixed-top{
  background:url("../img/blackbg.png");
  background-repeat:repeat;
}

.form-control{
	border:none;
	border-bottom:3px solid dodgerblue;
	background:black;
	color:white;
	border-radius:0px;
}

.row{
	width:60%;
	margin-top:50px;
  border: 3px solid #FFDD1B;
	border-radius:14px;
	height:auto;
}

form h2{
	color:white;
}

.checkbox span{
	color:white;
}

.checkbox{
	float:left;
}

button{
	float:right;
	width:120px;
}

@media(max-width:768px){
	body{
		font-size:10px;
	}
	
	h2{
		font-size:15px;
	}
	
	input[type=text]{
		font-size:13px;
	}
	
	input[type=password]{
		font-size:13px;
	}
	
	input[type=email]{
		font-size:13px;
	}
	
	button{
		width:80px;
		height:30px;
		float:right;
		font-size:10px;
		margin-bottom:10px;
	}
	
	.checkbox{
		display:inline;
  }
}


  /*end of register form*/

  /*register box design*/

  .box{
    position:relative;
    width: 300px;
    height:300px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
    margin:auto;

  }
  
  .box:before{
    content: '';
    position:relative;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #f8fafa;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 

  /* spotlight */

  .light {
    animation:top-right 5s ease-in-out alternate infinite;
    border-bottom:none;
    border-left:solid 15vh transparent;
    border-right:solid 15vh transparent;
    border-top:solid 200vh rgba(255, 255, 255, .5);
    bottom:0;
    height:0;
    left:0;
    position:absolute;
    transform-origin:bottom;
    width:0;
  }
  
  .light + .light {
    animation:top-left 4s ease-in-out alternate infinite;
    left:auto;
    right:0;
  }
  
  @keyframes top-right {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(45deg);
    }
  }
  
  @keyframes top-left {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(-45deg);
    }
  }

